In [9]:
a = 10

In [7]:
print('Hello!')

Hello!

My First Python Code in Jupyter

In [10]:
a

10

In [16]:
a = a + a

In [14]:
type(a)

float

In [13]:
 a = 12.2

In [18]:
"I'm a good guy"

"I'm a good guy"

In [22]:
print("print \n print")

print
 print

In [19]:
my_str = 'this is a string'

In [27]:
print(my_str[-1])

g

In [28]:
print(my_str[0])

t

In [29]:
print(my_str[0:4])

this

In [23]:
len(my_str)

16

In [35]:
my_str[my_str.find('string'):]

'string'

In [36]:
my_list = [1,'two',3.0]

In [37]:
my_list

[1, 'two', 3.0]

In [38]:
my_list[2:]

[3.0]

In [39]:
another_list = ['four','five'];

In [40]:
another_list

['four', 'five']

In [41]:
another_list + my_list

['four', 'five', 1, 'two', 3.0]

In [46]:
new_list = my_list + another_list

In [47]:
new_list

[1, 'two', 3.0, 'four', 'five']

In [50]:
new_list.append('Six')

In [53]:
new_list

[1, 'two', 3.0, 'four', 'five', 'Six']

In [52]:
new_list.pop()

'Six'

In [54]:
poped = new_list.pop(1)

In [55]:
poped

'two'

In [56]:
new_list.insert(2,2)

In [57]:
new_list

[1, 3.0, 2, 'four', 'five', 'Six']

======================= Dictonary usage=================================

In [58]:
my_dict = {'key1' : 'value1', 'key2':'value2'}

In [59]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [60]:
my_dict['key1']

'value1'

In [61]:
my_dict['key3'] = [1,2,3]

In [62]:
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': [1, 2, 3]}

In [63]:
my_dict['key1'] = {'key1.1' : 'value1'}

In [64]:
my_dict

{'key1': {'key1.1': 'value1'}, 'key2': 'value2', 'key3': [1, 2, 3]}

In [65]:
type(my_dict)

dict

In [74]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

===================== Tuples (immutable)=====================

In [80]:
t  = (1,2,3)

In [76]:
type(t)

tuple

In [77]:
t[0]

1

In [78]:
t[-1]

3

In [82]:
t[::-1]

(3, 2, 1)

=============================Sets -> unordered collection of unique elements===========================

In [87]:
my_set = set()

In [88]:
type(my_set)

set

In [89]:
my_set1 = {}

#Set should be initialized like above as it creates a dict

In [90]:
type(my_set1)

dict

In [91]:
#add to a set
my_set.add(1)

In [92]:
my_set

{1}

In [93]:
#adding 1 again which will not result in duplicate
my_set.add(2)
my_set.add(1)

In [94]:
my_set

{1, 2}

In [95]:
#converting a list to set
my_list = [1,1,1,1,3,3,3,4,4,4,3,7,8,8,9,9]
mySet = set(my_list)
mySet

{1, 3, 4, 7, 8, 9}

In [96]:
set('Parallel')

{'P', 'a', 'e', 'l', 'r'}

==========================Boolean============================================

In [98]:
# Note the Caps T in True
True

True

In [99]:
type(False)

bool

In [100]:
1 > 2

False

In [101]:
b = None

In [102]:
type(b)

NoneType

=====================================File I/O==========================================================

In [8]:
%%writefile text.txt
Hello my first IO operation
Second line
Thrid line

Overwriting text.txt

In [121]:
pwd

'C:\\Users\\z020641\\Desktop'

In [84]:
my_file = open('text.txt')

In [123]:
#open file
#read file
#seek 0
# Read as a line
#open a file from specific location
#Close a file
#With Open as var_name
#With Open as var_name with mode='r/w/a/r+/w+'

In [85]:
my_file.read()

'Hello my first IO operation\nSecond line\nThrid line\n'

In [86]:
#Reading again will result in no content as the cursor is at the end
my_file.read()

''

In [6]:
my_file.seek(0)

0

In [10]:
my_file.readlines()

['Hello my first IO operation\n', 'Second line\n', 'Thrid line\n']

In [11]:
open('C:\\Users\\z020641\\Desktop\\text.txt').read()

'Hello my first IO operation\n'

In [12]:
my_file.close()

In [22]:
with open('mytext.txt', mode='w') as my_file:
    my_file.write('First line in my new file');

In [23]:
with open('mytext.txt', mode='r') as my_file:
   contents =  my_file.read();

In [24]:
contents

'First line in my new file'

In [32]:
with open('mytext.txt', mode='a') as my_file:
    my_file.write('\nsecond line in my new file');

In [33]:
with open('mytext.txt', mode='r') as my_file:
   contents =  my_file.read();

In [34]:
contents

'First line in my new file\nsecond line in my new file\\nsecond line in my new file\nsecond line in my new file'

===============================Operators===================================================

In [35]:
2.0 == 2

True

In [36]:
'2' == 2

False

In [37]:
True != False and  1 != 2

True

In [41]:
not 1==1

False

In [46]:
if True:
    print('asdf')

asdf

In [48]:
name = 'Praveen'

if name == 'Sasi':
    print('Sasi is working on the user story')
elif name =='Sai':
    print('Sasi is working on the user story')
elif name =='Praveen':
    print('Praveen is working on the user story')
elif name =='Sethu':
    print('Sethu is working on the user story')
else:
    print('Pavithra is working on the user story')

Praveen is working on the user story

============================================= For Loops ===========================================================

In [49]:
#loops can be used over string,list,set,tuples,dict
for char in 'Hello':
    print(char)

H
e
l
l
o

In [50]:
for num in [1,2,3,4]:
    print(num)

1
2
3
4

In [51]:
for num in set([1,1,2,2,2,2,3,3,35,5,5,7,8,8,9,]):
    print(num)

1
2
3
35
5
7
8
9

In [58]:
newset = {(1,2),(3,4),(5,6),(7,8),(9,10),(1,2)}
for val in newset:
    print(val)

(1, 2)
(7, 8)
(5, 6)
(9, 10)
(3, 4)

In [59]:
for (a,b) in newset:
    print(a)
    print(b)

1
2
7
8
5
6
9
10
3
4

In [60]:
for a,b in newset:
    print(a)
    print(b)

1
2
7
8
5
6
9
10
3
4

In [66]:
dic = {'k1':1,'k2':2, 'k3':3}
for val in dic.values(): #dic.keys()
    print(val)

1
2
3

In [70]:
dic = {'k1':1,'k2':2, 'k3':3}
for itm in dic.items():
    print(itm)

('k1', 1)
('k2', 2)
('k3', 3)

===================================while loops===========================================================

In [75]:
x=0

while x < 5 :
    if x == 0:
        x = x +1
        continue
    print(x)
    x = x +1

1
2
3
4

In [77]:
x=0

while x < 5 :
    if x == 4:
        break
    print(x)
    x = x +1

0
1
2
3

In [89]:
x_lst = [1,2,3,4,5,6,7,8]
for itm in range(0,8):
    print(x_lst[itm])

1
2
3
4
5
6
7
8

In [90]:
for itm in range(0,8,2):
    print(x_lst[itm])

1
3
5
7

=================================================List Comprehension==================================================

In [4]:
mylist = []
mystr = 'hello'
for letter in mystr:
    mylist.append(letter)
print(mylist)

# Using list comprehension

mylist = [letter for letter in mystr];
print(mylist)

['h', 'e', 'l', 'l', 'o']
['h', 'e', 'l', 'l', 'o']

In [8]:
mylist =[]
myFarenhiet = [0,10,20,30,40];
for num in myFarenhiet:
    mylist.append((((9/5) * num) +32))
    
#Using list comprehensio

mylist = [(((9/5) * num) +32) for num in myFarenhiet]
mylist

[32.0, 50.0, 68.0, 86.0, 104.0]

============================================Methods & Functions=====================================================

# PIG LATIN

For words that begin with consonant sounds, all letters before the initial vowel are placed at the end of the word sequence. Then, "ay" is added, as in the following 
examples: 
    "pig" = "igpay" 
    "latin" = "atinlay"

In [5]:
def pig_latin(word, vowels='aeiou', pig_latin = 'ay'):

    first_letter = word[0];
    
    if first_letter in vowels:
        pig_word = word + pig_latin
    else:
        pig_word = word[1:] + first_letter + pig_latin
    return pig_word

pig_latin('india')

'indiaay'

In [6]:
'a'.upper

'A'

=========================================Object Oriented Programming in python====================================

In [9]:
class MyClass():
    pi = 3.14
    def __init__(self,className,position):
        self.className = className
        self.position = position

In [27]:
my_class = MyClass(className="my-class",position=1)

In [10]:
MyClass.pi

3.14

In [8]:
#Scope example
myvar = 10
def callme(myvar):
#     myvar =20
    return myvar
myvar = callme(30)
print(myvar)

30

===============================Decorators=======================================

In [1]:
# fuction that takes in a function'
def call_me(some_func):
    print('Im a call_me function')
    some_func()

def say_hello():
    print('Hello!')
call_me(say_hello)

Im a call_me function
Hello!

In [2]:
#function that returns a fuction

def call_me():
    print('Im a call_me function. I will return a function')
    def say_hello():
        print('Hi Hello Bonjure')
    return say_hello
greet = call_me()
greet()

Im a call_me function. I will return a function
Hi Hello Bonjure

In [23]:

    
def new_decorotor(m):  
    def wrap_func():
        print('I am 2.x functionality -- @Before')
        m()
        print('I am 2.x functionality -- @After')
    return wrap_func

# deco = new_decorotor

@new_decorotor
def my_func():
    print('I am 1.x functionality')

# my_func_1(my_func)
# new_decorotor(my_func)()
my_func()

I am 2.x functionality -- @Before
I am 1.x functionality
I am 2.x functionality -- @After