# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [115]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [116]:
# Check
lesser_of_two_evens(2,4)

2

In [120]:
# Check
lesser_of_two_evens(8,5)

8

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [230]:
def animal_crackers(text):
    words = text.split()
    return words[0][0].lower() == words[1][0].lower()

In [231]:
# Check
animal_crackers('Levelheaded Llama')

True

In [232]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [136]:
def makes_twenty(n1,n2):
    return n1 == 20 or n2 == 20 or(n1+n2 == 20)

In [140]:
# Check
makes_twenty(10,20)

True

In [138]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [164]:
def old_macdonald(name):
    return name.capitalize()[0:3]  +   name[3].upper() +  name[4:]

In [165]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [176]:
def master_yoda(text):
    return " ".join(text.split()[::-1])

In [177]:
# Check
master_yoda('I am home')

'home am I'

In [178]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [184]:
def almost_there(n):
    return (n >=90 and n <= 110) or (n>=190 and n<= 210)

In [185]:
# Check
almost_there(90)

True

In [186]:
# Check
almost_there(150)

False

In [187]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) â†’ True
    has_33([1, 3, 1, 3]) â†’ False
    has_33([3, 1, 3]) â†’ False

In [204]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if( nums[i] == nums[i+1] == 3):
            return True
    return False

In [205]:
# Check
has_33([1, 3, 3])

True

In [206]:
# Check
has_33([1, 3, 1, 3])

False

In [207]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [210]:
def paper_doll(text):
    return "".join([x*3 for x in text])

In [211]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [213]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [219]:
def blackjack(a,b,c):
    sum = a + b + c
    if(sum <= 21):
        return sum;
    elif 11 in [a,b,c] and sum - 10 <= 21:
        return sum - 10
    else:
        return 'BUST'

In [220]:
# Check
blackjack(5,6,7)

18

In [221]:
# Check
blackjack(9,9,9)

'BUST'

In [222]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [239]:
def summer_69(arr):
    sum = 0;
    foundSix = False
    foundNine = False
    
    for num in arr:
        if num == 6 and not foundSix:
            foundSix = True
            pass
        elif foundSix and not foundNine:
            if num == 9:                
                foundNine = True
                foundSix = False
            pass
        elif not foundSix or foundSixButNotNine:
            sum = num + sum
        foundSixButNotNine = (foundSix and not foundNine)
    return sum

In [240]:
# Check
summer_69([1, 3, 5])

9

In [241]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [242]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [248]:
def spy_game(nums):
    for indx in range(0,len(nums)-2):
        if nums[indx:indx+3] == [0,0,7]:
            return True
    return False

In [249]:
# Check
spy_game([1,2,4,0,0,7,5,8])

0
1
2
3

True

In [250]:
# Check
spy_game([1,0,2,4,0,5,7,9])

0
1
2
3
4
5

False

In [251]:
# Check
spy_game([1,7,2,0,4,5,0,5])

0
1
2
3
4
5

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [267]:
def count_primes(num):
    start = 2
    count = 1
    currentNumIsPrime = True
    prime =[2]
    for currentNum in range(3,num,2):
        #print('num : {}'.format(x))

        #for divisibleBy in range(2,currentNum):
        for divisibleBy in prime:
            #print(f'divisibleBy : {divisibleBy} {x % divisibleBy}')
            if currentNum % divisibleBy == 0:
                currentNumIsPrime = False
                break
        if currentNumIsPrime:
           # print(x)
            count+=1
            prime.append(currentNum)
        currentNumIsPrime = True            
    print(count)
    print(prime)

In [268]:
# Check
count_primes(100)

25
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [113]:
def print_big(letter):
    mydict = {'a' : '  *  \n * * \n*****\n*   *\n*   *',
             'b' : '*****\n*   *\n*****\n*   *\n*****',
             'c' : '*****\n*\n*\n*\n*****',
             'e' : '*****\n*\n*****\n*\n*****'}
    print(mydict[letter.lower()]);

In [114]:
print_big('a')

*****
*
*****
*
*****

## Great Job!